name: CI - Build Test Scan

env:
  IMAGE: rajglitchmax/k8s-project

on:
  push:
    branches: [main]
    paths:
      - "backend/**"
      - ".github/workflows/**"
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Validate Docker image name
        run: |
          echo "Using IMAGE=${{ env.IMAGE }}"
          if echo "${{ env.IMAGE }}" | grep -q '[A-Z]'; then
            echo "ERROR: Docker image repository must be lowercase: ${{ env.IMAGE }}"
            exit 1
          fi

      - name: Build Docker image
        run: |
          docker build \
            -t ${{ env.IMAGE }}:${{ github.sha }} \
            -t ${{ env.IMAGE }}:latest \
            backend/

      - name: Trivy Scan
        uses: aquasecurity/trivy-action@0.24.0
        with:
          image-ref: ${{ env.IMAGE }}:${{ github.sha }}
          severity: HIGH,CRITICAL
          exit-code: "1"

      - name: Push image
        run: |
          docker push ${{ env.IMAGE }}:${{ github.sha }}
          docker push ${{ env.IMAGE }}:latest
